<a href="{{ site.baseurl }}/">
  <img src="{{ site.baseurl }}/opp%20chorus%20logo.png" alt="OPP Chorus Logo" style="max-height:80px; display:block; margin:0 auto;">
</a>
<div class="wrapper">
  <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
    <nav class="site-nav" style="margin-left: auto; text-align: right;">
      <a class="page-link" href="{{ site.baseurl }}/">Home</a>
      {% for page in site.pages %}
        {% if page.title and page.nav != false and page.url != '/' %}
          <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>
