---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title | default: site.title }}</h1>

  {{ content }}

  {% if site.posts.size > 0 %}
    <ul class="post-list">
      {% for post in site.posts %}
        <li style="margin-bottom:2em;">
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {% if post.featured_image %}
            <a href="{{ post.url | relative_url }}">
              <img src="{{ post.featured_image }}" alt="Featured image for {{ post.title }}" style="max-width:200px; display:block; margin-bottom:0.5em;">
            </a>
          {% endif %}
          <p>
            {{ post.excerpt | strip_html | truncate: 160 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
